*, *:before, *:after {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: url('./images/red-cursor.png'), pointer;
	outline: inherit;
}

/* fonts, headers, p */

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  padding: 20px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 100;
}

/* nav bar */

nav {
  display: flex; 
  justify-content: space-between;
  width: 100%;
  height: 5em;
}

.search-bar {
  height: 36px;
  width: 300px;
  padding: 3px 10px;
  border-radius: 30px;
  border-color: #c4c4c4;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  position: relative;
  cursor: pointer;
  margin-right: 50px;
}

.nav-buttons:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #921612;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-buttons:hover:after {
  visibility: visible;
  width: 100%;
}

.welcome-wrap {
  margin: 0 0 2.25rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25.75rem;
  line-height: 1;
  margin: 0 0 1rem;
  position: relative;
  text-align: center;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: url(images/main-page.jpg) no-repeat center center;
  background-size: cover;
}

.welcome {
  font-size: 50px;
  color: #ffffff;
  padding-top: 1%;
  margin: 0;
  background: rgba(184, 182, 182, 0.7);
  width: 20%;
  margin-left: 40%;
}

/* main pages containers */

.home-page,
.cookin-queue-page,
.favorites-page,
.search-result-page,
.recipe-detail-page {
  max-width: 100%;
}

/* recipe tag chooser */
.sort-by-course-header {
  padding: 20px;
  margin-top: 25px;
}

.course-chooser {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5em;
}

.icon-text {
  text-align: center;
}


.course-chooser-topic {
  transform: scale(1);
  transition: transform 300ms;
}

.course-chooser-topic:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(1.2);
}

.recipe-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  grid-row-gap: 60px;
  padding: 20px;
}

/* mini recipe cards */
.mini-recipe-card {
  display: flex;
  position: relative;
  padding: 2%;
  flex-direction: column;
  align-items: center;
  background-color:rgba(235, 228, 228, 0.7);
  border-radius: 30px;
}

.mini-recipe-img {
  max-width: 100%;
  border-radius: 25px;
}

.recipe-name-mini {
  font-size: 25px;
  text-align: center;
}

/* choose tag  */
.sort-by-course-header {
  padding: 20px;
  margin-top: 25px;
}

.course-chooser {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5em;
}

.icon-text {
  text-align: center;
}

.course-chooser-topic {
  transform: scale(1);
  transition: transform 300ms;
}

.course-chooser-topic:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(1.2);
}

/* recipe page */
.recipe-visual {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color:rgba(235, 228, 228, 0.7);
  border-radius: 25px;
  width: 100%;
}

.recipe-ingredients {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color:rgba(235, 228, 228, 0.7);
  border-radius: 25px;
  width: 100%;
  align-items: center;
}

.recipe-page-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
  padding: 20px;
}

.heart {
  transform: scale(1);
  transition: transform 300ms;
}

.heart:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(1.2);
}

.recipe-page-tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  max-width: 50%;
  color: #921612;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style-type: none;
}

.recipe-tag {
  margin-right: 2%;
}

.heart-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredient-row {
  width: 100%;
  max-width: 100%;

  background-color: #ffffff;
}

.ingredient-row-spacing {
  display: flex;
  padding: 6px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #707070;
}

.ingredient-list {
 width: 70%;
 padding: none;
 border: 2px solid #707070
}

.ingredient-row-text {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1;
  width: 50%;
}

.ingredient-row-price {
  margin: 0;
  padding-right: 5px;
  line-height: 1;
}

.recipe-instructions-numbered {
  display: flex;
}

.recipe-step-number {
  margin-right: 20px;
}

.recipe-instructions {
  margin-left: 2%;
  padding-bottom: 5%;
}

.add-to-queue-button {
  cursor: pointer;
  width: 95%;
  background-color: #921612;
  color: white;
  letter-spacing: 3px;
  border: 3px solid #921612;
  padding: 3%;
  font-size: 14px;
  max-width: 95%;
  transition: all 0.2s ease-in-out;
}

.add-to-queue-button:hover {
  cursor: pointer;
  color: #921612;
  border: 3px solid #921612;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

/* effects */
.hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
